

.main {
border:  2px solid;
height: 400px;
}

.sub-main{
    border:  2px solid;
    height: 140px;
    display: flex;
    justify-content: center;
}

div div div {
background-color: aqua;
height: 100px;
width: 100px;
border: 2px solid;
margin-top: 5px;
margin-left: 5px;
    
}
